body{
    margin: 0;
    overflow: hidden
}

#myVideo {
    /* position: fixed; */
    /* right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; */
    position: fixed;
    bottom: 0;
    /* overflow: hidden;
    height: 100vh;
    width: 100%; */
}

.mapImg {
    /* max-height: 100%; */
    width: 100%;
    display: block;
    margin: 0 auto;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
}

#map{
    background: linear-gradient(to left, rgba(0,0,0, 0.2), rgba(0,0,0,0.2)),url(images/space.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mapContent{
    position: absolute;
    right: 0;
    top: 0;
}

#Div-B{
    /* background-image: url('map1.png'); */
    /* height: 100vh; */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    /* padding: 3rem; */
}

.textSectionOne{
    display: inline;
}

.buttonSection{
    float: right;
}

.textSectionTwo{
    float: right
}

#startTour{
    cursor: pointer;
    text-decoration: underline;
}

.showMap{
    display: block !important;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		display: none;
	}
	100% {
		display: block;
	}
}

/* overwrite default map css */
#tt_sm_map{
    max-width: 40rem !important;
}

.states{
    position: absolute;
    top: 15rem;
    height: 30rem;
    width: 100%;
}

.stateImg{
    width: 4rem;
    height: auto;
    margin-right:0.5rem;
}

.contents{
    margin: 1rem;
}

.contents:not(:first-child){
    display: none;
}

.contentImg{
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icon{
    font-size: 2rem;
}

.btnIcon{
    padding: 1rem;
    background: none;
    border: none;
    color: #fff;
}

.btnIcon:focus, .btnIcon:hover, .btnIcona:active{
    background: none;
    border: none;
    box-shadow: none !important;
    color: #fff;
    
    text-shadow: 1px 1px grey;
}

.buttonText{
    font-weight: bold;
}

.inputChoice{
    margin-right: 2rem;
}

.inputValue{
    margin-right: 0.5rem !important;
}

.popover{
    width: 100%;
    /* max-width: 30% */
}

.buttonSubmitText{
    background: rgb(64, 153, 180);
    color: #fff;
}

/* Modal questions */
.questionImg{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.choiceList{
    list-style: none;
}

.choicelabel{
    padding-left: 0.5rem
}

.listSection{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
}